header {
    position: fixed;
    top: 0;
    width: 100%
}

.header-container {
    background-color: rgba(218, 218, 218, 0.356);
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    align-items: center;
}